<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App |<%= @title %></title>
    <%= stylesheet_link_tag 'screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'print',  :media => 'print' %>
  </head>
  <body>
    <h1>Contact</h1>

     <p> Contact Ruby on Rails Tutorial about the sample app at the </p>
      <a href="http://railstutorial.org/feedback">feedback page</a>.

  </body>
</html>
